<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{subtitle:"editando: " + product.name,styleSheetName:'styles'}) %>

<body>
    <%- include('../partials/header')%>
    <main>
        <div class="main-title-container">
            <a value="Go back!" onclick="history.back()" class="back-arrow"><img src="/img/icon/arrow.svg" alt=""></a>
            <h1 class="main-title">MODIFICAR PRODUCTO</h1>
        </div>
        <div class="form-container">
            <br>
            <p class="form-text">Modificá los datos del producto <%=product.id%> completando el formulario:</p>
            <!-- este action va al productRuoter -->
            
            <form method="POST" action="/products/<%= product.id %>?_method=PUT" enctype="multipart/form-data" class="form">     
                <p class="form-subtext">DATOS PRINCIPALES</p>
                <!-- AGREGO LA IMAGEN POR ACA (PROVISORIO)-->
                <br>
                <figure class="product-detail-image-container">
                    <img class="product-detail-image" src="/img/product-img/<%=product.product_image[0].file_name%>" alt="<%= product.name %>">
                </figure>    
                <label for="imageProd">
                    <h3 class="label">Elegí una nueva imagen de producto:</h3>
                    <input class="image-input"  type="file" name="imageProd" id="imageProd">
                </label>
                <br> <br>
                <div class = "erroresV">
                    <ul></ul>
                </div>
                <br> <br>
                <label>
                    <h3 class="label">Tipo de vino/producto:</h3>
					<select name="type_id" id="type_id" class="select">
                        <option value="<%=product.product_type.id%>"><%=product.product_type.name%></option>
                        <% for (let i=0;i<types.length;i++) {if (types[i].name!=product.product_type.name) { %>
                            <option value="<%= types[i].id %>"><%= types[i].name %></option>
                        <% }} %>
                    </select>
                </label>
                <label>
                    <h3 class="label">Nombre del vino/producto:</h3>
                    <input class="input" type="text" name="name" id="name" placeholder="Nombre del vino/producto..." value="<%= product.name %>">
                </label>
                <label>
                    <h3 class="label">Nombre reducido del vino/producto:</h3>
                    <input class="input" type="text" name="short_name" id="short_name" placeholder="Nombre del vino/producto..." value="<%= product.short_name %>">
                </label>
                <label>
                    <h3 class="label">Bodega:</h3>
					<select name="producer_id" id="producer_id" class="select">
                        <option value="<%=product.product_producer.id%>"><%=product.product_producer.name%></option>
                        <% for (let i=0;i<producers.length;i++) {if (producers[i].name!=product.product_producer.name) { %>
                            <option value="<%= producers[i].id %>"><%= producers[i].name %></option>
                        <% }} %>
                    </select>
                </label>
                <label>
                    <h3 class="label">Año de la cosecha:</h3>
                    <input class="input" type="number" name="year" id="year" placeholder="Año de la cosecha..." value="<%= product.year %>">
                </label>
                <label>
                    <h3 class="label">Varietal:</h3>
					<select name="varietal_id" id="varietal_id" class="select">
                        <option value="<%=product.product_varietal.id%>"><%=product.product_varietal.name%></option>
                        <% for (let i=0;i<varietals.length;i++) {if (varietals[i].name!=product.product_varietal.name) { %>
                            <option value="<%= varietals[i].id %>"><%= varietals[i].name %></option>
                        <% }} %>
                    </select>
                </label>
                <label>
                    <h3 class="label">Precio:</h3>
                    <input class="input" type="number" name="price" id="price" placeholder="Precio..." value="<%= product.price %>">
                </label>
                <label>
                    <h3 class="label">Descripción:</h3>
                    <textarea class="input area" name="description" id="description" cols="30" rows="10" placeholder="Descripción..." ><%= product.description %></textarea>
                </label>
                <p class="form-subtext">FICHA TÉCNICA</p>
                <label>
                    <h3 class="label">Locación del viñedo:</h3>
                    <input class="input" type="text" name="location" id="location" placeholder="Locación del viñedo..." value="<%= product.location %>">
                </label>
                <label>
                    <h3 class="label">Altitud:
                    </h3>
                    <input class="input" type="number" name="altitude" id="altitude" placeholder="Altitud..." value="<%= product.altitude %>">
                </label>
                <label>
                    <h3 class="label">Enólogo/a:</h3>
					<select name="winemaker_id" id="winemaker_id" class="select">
                        <option value="<%=product.Winemaker[0].id%>"><%=product.Winemaker[0].name%></option>
                        <% for (let i=0;i<winemakers.length;i++) {if (winemakers[i].name!=product.product_varietal.name) { %>
                            <option value="<%= winemakers[i].id %>"><%= winemakers[i].name %></option>
                        <% }} %>
                    </select>
                </label>
                <% if (product.Winemaker[1]) { %>
                <label>
                    <h3 class="label">Segundo/a enólogo/a:</h3>
					<select name="winemaker_id" id="winemaker_id" class="select">
                        <option value="<%=product.Winemaker[1].id%>"><%=product.Winemaker[1].name%></option>
                        <option value="">Quitar enólogo/a</option>
                        <% for (let i=0;i<winemakers.length;i++) { %>
                            <option value="<%= winemakers[i].id%>"><%= winemakers[i].name %></option>
                        <% } %>
                    </select>
                </label>
                <% } else { %>
                <label>
                    <h3 class="label">Agregar otro/a enólogo/a:</h3>
					<select name="winemaker_id" id="winemaker_id" class="select">
                        <option value="">No agregar otro/a enólogo/a</option>
                        <% for (let i=0;i<winemakers.length;i++) { %>
                            <option value="<%= winemakers[i].id%>"><%= winemakers[i].name %></option>
                        <% } %>
                    </select>
                </label>
                <% } %>
                <label>
                    <h3 class="label">Composición varietal:</h3>
                    <input class="input" type="text" name="varietal_comp" id="varietal_comp" placeholder="Composiciòn varietal..." value="<%= product.varietal_comp %>">
                </label>
                <label>
                    <h3 class="label">Composición del suelo:</h3>
                    <input class="input" type="text" name="soil" id="soil" placeholder="Composición del suelo..." value="<%= product.soil %>">
                </label>
                <label>
                    <h3 class="label">Graduación alcohólica:</h3>
                    <!-- saco min="0" max="16" y valido por front-->
                    <input class="input" type="number" name="abv" id="abv" placeholder="Graduación alcohólica..." step="0.1" value="<%= product.abv %>">
                </label>
                <label>
                    <h3 class="label">Crianza:</h3>
                    <input class="input" type="text" name="breeding" id="breeding" placeholder="Crianza..." value="<%= product.breeding %>">
                </label>
                <button class="black-button separation" id="submitbtn" type="submit">MODIFICAR PRODUCTO</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer')%>
    
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/JS/editProdValFront.js"></script> 
    
</body>
</html>