<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{subtitle:'register',styleSheetName:'styles-register'}) %>

    <body>
        <%- include('../partials/header')%>
            <main>
                <div class="foto">
                    <img class="img" src="/img/register.jpg">
                </div>

                <div class="texto">
                    <% if (locals.recordatorio) {%>
                        <div class="texto-error">
                            <%=recordatorio%>
                        </div>
                        <% } %>

                            <div class="flecha-titulo">
                                <img class="flecha" src="/img/icon/arrow.svg" alt="">
                                <h1 class="titulo">TU CUENTA</h1>
                            </div><br>
                            <div class="accion">
                                <div class="iniciarSesion">
                                    <a href="/users/login">
                                        <p>INICIA SESIÓN</p>
                                    </a>
                                </div>
                                <div class="registrarse">
                                    <div class="hijo-registrate">
                                        <p>REGISTRATE</p>
                                    </div>
                                </div>
                            </div> <br>
                            <p>Creá una cuenta en VIINO y obtené el beneficio de una experiencia de compra más personal
                                y de un pago on-line más veloz.</p><br>
                            <!-- <p class="completar">Completar el último campo es optativo, en caso de no hacerlo, se te
                                asignará una imagen por defecto.</p><br> -->
                            <div class="texto-error" id="campoErrores"></div>    
                            <br>
                            <form action="/users" method="POST" enctype="multipart/form-data" id="form">


                                <div class="campoEncuesta" id="campoFirst_name">
                                    <label for="nombre">Nombre:</label>
                                    <input class="barra" type="text" name="first_name" id="first_name" placeholder="Nombre"
                                        <% if (locals.errors && !errors.first_name) { %> value="<%=oldData.first_name%>"
                                        <% } %>>
                                            <div class="texto-error">
                                                <%if (locals.errors && errors.first_name) {%>
                                                    <%=errors.first_name.msg%>
                                                        <%}%>
                                            </div>
                                </div>
                                <div class="campoEncuesta" id="campoLast_name">
                                    <label for="last_name">Apellido:</label>
                                    <input class="barra" type="text" name="last_name" id="last_name" placeholder="Apellido"
                                        <% if (locals.errors && !errors.last_name) { %> value="<%=oldData.last_name%>"
                                        <% } %>>
                                            <div class="texto-error">
                                                <%if (locals.errors && errors.last_name) {%>
                                                    <%=errors.last_name.msg%>
                                                        <%}%>
                                            </div>
                                </div>
                                <div class="campoEncuesta" id="campoEmail">
                                    <label for="email">Correo electrónico:</label>
                                    <input class="barra" type="email" name="email" id="email"
                                        placeholder="Correo electrónico" <% if (locals.errors && !errors.email) { %>
                                    value="<%=oldData.email%>" <% } %>>
                                            <div class="texto-error">
                                                <%if (locals.errors && errors.email) {%>
                                                    <%=errors.email.msg%>
                                                        <%}%>
                                            </div>
                                </div>
                                <div class="campoEncuesta" id="campoPassword">
                                    <label for="password">Contraseña:</label>
                                    <input class="barra" type="password" name="password" id="password"
                                        placeholder="Contraseña" <% if (locals.errors && !errors.password) { %> value="
                                    <%=oldData.password%>" <% } %>>
                                            <div class="texto-error">
                                                <%if (locals.errors && errors.password) {%>
                                                    <%=errors.password.msg%>
                                                        <%}%>
                                            </div>
                                </div>
                                <div class="campoEncuesta" id="campoCategory">
                                    <label class="label">Categoría:</label>
                                    <select name="category" id="category" class="barra">
                                        <option value="">Elegí</option>
                                        <option value="User" <% if (locals.errors && !errors.category && locals.oldData.category=="User"){ %> <%= "selected" %> <% } %> >User</option>
                                        <option value="Admin" <% if (locals.errors && !errors.category && locals.oldData.category=="Admin"){ %> <%= "selected" %> <% } %> >Admin</option>
                                    </select>
                                    <div class="texto-error">
                                        <%if (locals.errors && errors.category) {%>
                                            <%=errors.category.msg%>
                                        <%}%>
                                    </div>
                                </div>
                                <div class="campoEncuesta" id="campoImageUser">
                                    <label for="imageUser">Imagen:</label>
                                    <input class="barra" type="file" name="imageUser" id="imageUser" onchange="return fileValidation()"/>
                                    <div class="texto-error">
                                        <%if (locals.errors && errors.imageUser) {%>
                                            <%=errors.imageUser.msg%>
                                        <%}%>
                                    </div>
                                </div>
                                <button class="button"type="submit" value="enviar" id="submit">CREAR CUENTA</button>
                            </form>
                </div>
            </main>

            <%- include('../partials/footer')%>

    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/JS/register.js"></script> 
    <script >
        function fileValidation() {
            const bordeRojo="2px solid red";
            const bordeVerde="2px solid limegreen"
            
            const valorIngresado=imageUser.value
            const extPermitidas=/(.jpg|.jpeg|.png|.gif)$/i;
            if (!extPermitidas.exec(valorIngresado)) {
                const imageUserError=document.createElement("p")
            imageUserError.textContent="El formato de la imagen debe ser JPG, JPEG, PNG o GIF"
            imageUserError.classList="texto-error"
            campoImageUser.appendChild(imageUserError)
            imageUser.style.border=bordeRojo

                return false
            } else {
                return imageUser.style.border=bordeVerde
            }

        }
    </script>   
         
    </body>

</html>